
<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
    <div class="ae-grid au-xs-ta-center au-mb-4">
      <div class="ae-grid__item item-lg-8 item-lg--offset-2">
        <h2 class="ae-u-bolder">Portafolio</h2>
        <p>Estos son los proyectos cargados desde el archivo local de datos.</p>
      </div>
    </div>

    <div *ngIf="products.length > 0; else noProducts" class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4">
      <a *ngFor="let product of products" [routerLink]="['/item',product.cod]" class="rk-item ae-masonry__item"><img src="assets/productos/{{ product.url }}/main.jpg" alt="">
        <div class="item-meta">
            <h2>{{ product.titulo }}</h2>
            <p>{{ product.categoria }}</p>
        </div></a>
      </div>

    <ng-template #noProducts>
      <div class="ae-grid au-xs-ta-center au-mb-4">
        <div class="ae-grid__item item-lg-8 item-lg--offset-2">
          <p>No hay productos cargados en este momento.</p>
        </div>
      </div>
    </ng-template>
  </section>